- unless flash.nil? || flash.empty?
	- flash.each do |key, value|
		- next if value.blank?
		.alert{ class: "alert-#{key}" }
			%button.close{ type: "button", 'data-dismiss' => "alert" }
				×
			= raw value