%h2 I am a new doctor form

%table.table.table-bordered.table-striped
	%thead 
		%th Name
		%th Address
		%th Email
	%tbody
		%tr
			%td John Doe
			%td 123 Main Street
			%td john@doe.com
		%tr
			%td Jane Doe
			%td 123 Main Street
			%td jane@doe.com